a img{
    width: 200px;
    height: 150px !important;
}
.row{
    margin-top: 10px;
}
.pager .active a{
    background-color: #000;
    color: #fff;
}
.pager .active a:hover{
    background-color: #000 !important;
    color: #fff;
}
.navbar{
    margin-bottom: 0px !important;
}